.home {
    color: white;
    background-color: teal;
    margin: 5px;
    text-align: center;
  }

.box {
    background-color: white;
    padding: 5px;
    margin: 5px;
    margin-left: 65%;
    color: teal;
  }

  .sidebar {
    background-color: white;
    padding: 5px;
    margin: 5px;
    margin-left: 50%;
    color: teal;
  }
  body {
    background-color: lightgray;
  }

  .mynav {
    background-color: white;
    color: darkgray;
  }
  